<form>
  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <input type="text" id="title" class="form-control" placeholder="Title" maxlength="200">
  </fieldset>
  <fieldset class="form-group">
    <span class="form-control-label"></span>
    <textarea id="content" class="form-control" rows="20"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="button" id="createNote" class="btn btn-primary" role="button" value="Save Note" />
  </fieldset>
</form>
